*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
li,
ul {
  padding: 0;
  margin: 0;
}
body {
  max-width: 1600px;
}

a {
  text-decoration: none;
}
.header {
  background-color: var(--white-text);
  max-width: 1600px;

  background-color: saddlebrown;
}
.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--blue-text);
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1, 17;
}
.logo-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--black-dark-text);
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1, 17;
}
.logo-studio-white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--white-text);
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1, 17;
}
.active .nav {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--blue-text);
  letter-spacing: 0.02em;
}
.nav {
  display: inline-block;
  padding: 32px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--black-text);
  letter-spacing: 0.02em;
}
.nav-contacts:hover {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--blue-text);
  letter-spacing: 0.02em;
}
.nav-contacts {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-text);
  letter-spacing: 0.02em;
}

/* Герой */
.hero {
  background-color: var(--dark-grey-bac);
  max-width: 1600px;
  max-height: 600px;
  text-align: center;
}
.hero-text {
  text-align: center;
  display: inline-block;
  padding-top: 200px;
  padding-bottom: 30px;
  font-family: "roboto";
  font-size: 44px;
  font-weight: 900;
  color: var(--white-text);
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.button-zakaz {
  margin-bottom: 200px;
  min-width: 200px;
  border: 0;
  padding: 10px 32px;
  background-color: var(--blue-text);
  color: var(--white-text);
  display: inline-block;
  border-radius: 4px;
  font-family: "roboto";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
}

/* .button-zakaz:hover {
  background-color: var(--white-text);
  color: var(--blue-text);
  letter-spacing: 0.06em;
} */

/* подход к проектам */
.hide {
  height: 0px;
  overflow: hidden;
}
.approach {
  display: inline-block;
  padding-top: 94px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  color: var(--black-text);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
.approach-text {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 94px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-text);
  letter-spacing: 0.03em;
  line-height: 1.71;
  width: 270px;
}
ul.child:not(:last-child) {
  margin-right: 30px;
}
/* Чем ми занимаемся */
.what-we-do {
  font-family: "roboto";
  font-size: 36px;
  font-weight: 700;
  color: var(--black-text);
  letter-spacing: 0.03em;
  line-height: 1.16;
}
/* Секція команда */
.team {
  font-family: "roboto";
  font-size: 36px;
  font-weight: 700;
  color: var(--black-text);
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.team-name {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  color: var(--black-dark-textt);
  letter-spacing: 0.03em;
  line-height: 1.18;
}
.team-text {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-text);
  letter-spacing: 0.03em;
  line-height: 1.18;
}
/* Секція Підвалу спільна */
.footer-bac {
  background-color: var(--dark-grey-bac);
  max-width: 1600px;
}
.map {
  display: inline-block;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--white-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
  line-height: 1.71;
  padding-bottom: 9px;
}
.footer-address {
  display: inline-block;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-text-op60);
  letter-spacing: 0.03em;
  line-height: 1.71;
  padding-bottom: 9px;
}
.address {
  font-style: normal;
  padding-bottom: 46px;
}
.footer-logo {
  display: inline-block;
  padding-top: 60px;
  padding-bottom: 20px;
}

/* Portfolio */
/* Спільний Хедер */
/* Секція кнопок */
.portfol-button {
  background-color: var(--white-text);
  border: 0;
}
.portfol-button:hover {
  background-color: var(--blue-text);
  border: 0;
}
.text-button {
  color: var(--blue-text);
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.62;
}
.text-button:hover {
  color: var(--white-text);
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.62;
}
/* Головнй контент */
.project-name {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--black-text);
  line-height: 2;
}
.signature {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--grey-text);
  line-height: 1.87;
}
/*-------- Вирівнювання ---------*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  outline: 1px solid red;
}
.flex {
  display: flex;
  align-items: center;
}
.ul-approach {
  padding: 94px 0px;
}
.navigation {
  display: flex;
  align-items: center;
}
.contact {
  display: flex;
  align-items: center;
}
.ul-nav {
  display: flex;
  align-items: center;
}
.ul-approach {
  display: flex;
  align-items: center;
}
.pic-what_we_do {
  display: flex;
  align-items: center;
}
.ul-them {
  display: flex;
  align-items: center;
}
.display-box {
  display: inline-block;
}

/* Підсвітка контейнерів  */
.colorvision {
  background-color: rgb(184, 211, 226);
}
.colorvision2 {
  background-color: rgb(184, 226, 212);
}
.colorvision3 {
  background-color: rgb(192, 226, 184);
}
